.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  padding: 2em;
}

.card {
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 15px;
  background-color: #18151893;
}

.card:hover {
  box-shadow: 0px 0px 30px -7px rgba(158, 152, 158, 1);
}

.card-image {
  width: 100%;
  height: auto;
}

.card__paragraph {
  background-color: rgb(32, 32, 32);
  width: 100%;
  padding: 1em;
  cursor: pointer;
}
