.proyects {
  padding: 5em;
  max-height: 100%;
}

.title {
  font-size: 45px;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  padding: 1em;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
}

.card {
  width: 250px;
  height: 250px;
  background-color: #282828;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  transition: all 1s linear;
}

.card:hover {
  transition: transform 0.5s linear;
  transform: scale(1.15);
  background-color: transparent;
  color: rgb(32, 34, 49);
}

/*image and text*/
.img-style {
  height: 360px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (width < 400px) {
  .img-style {
    height: 180px;
  }
}

.description-style {
  font-size: 40px;
}

/*Colors Text*/
.black-colorText {
  color: #000000;
  text-shadow: 3px 3px #282828;
}

.red-colorText {
  color: red;
}
.big-text {
  font-size: 4rem;
  text-shadow: 3px 3px #282828;
}

@media screen and (max-width: 400px) {
  .description-style {
    font-size: 20px;
  }
}

/*Keyframes*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s linear;
}
