.title {
  font-size: 45px;
}

/*image and text*/
.img-style {
  height: 420px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (width < 400px) {
  .img-style {
    height: 180px;
  }
}

.description-style {
  font-size: 40px;
}

/*Colors Text*/
.black-colorText {
  color: #000000;
  text-shadow: 3px 3px #282828;
}

.red-colorText {
  color: red;
}
.big-text {
  font-size: 4rem;
  text-shadow: 3px 3px #282828;
}

@media screen and (max-width: 400px) {
  .description-style {
    font-size: 20px;
  }
}

/*Keyframes*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s linear;
}
