.section-style {
  padding: 5em;
  max-height: 100%;
}

.title {
  font-size: 45px;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  padding: 1em;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
}

.card {
  width: 250px;
  height: 250px;
  background-color: #282828;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  transition: all 1s linear;
}

.card:hover {
  transition: transform 0.5s linear;
  transform: scale(1.15);
  background-color: transparent;
  color: rgb(32, 34, 49);
}

/*About Me*/

.sections-flex {
  display: flex;
  flex-direction: column;
}

.about-flex-nowrap {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 5em;
  /* flex-wrap: wrap; */
}

.about-flex-wrap {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 5em;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.about-flex-wrap-technology {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 5em;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  height: 350px;
}

.background-technologies {
  background-color: #282828;
  padding: 5em;
}

.img-style {
  height: 360px;
}

.description-style {
  font-size: 40px;
}

/*Colors Text*/
.black-colorText {
  color: #000000;
  text-shadow: 3px 3px #282828;
}

.red-colorText {
  color: red;
}
.big-text {
  font-size: 4rem;
  text-shadow: 3px 3px #282828;
}

.svg-style {
  height: 90px;
  transition: all 0.3s linear;
}

.svg-style:hover {
  height: 150px;
  padding: 1;
  filter: drop-shadow(0 0 0.175rem white);
}

@media screen and (max-width: 400px) {
  .img-style {
    height: 180px;
  }

  .description-style {
    font-size: 20px;
  }
}

/*Keyframes*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes beat {
  from {
    filter: drop-shadow(0 0 0.75rem crimson);
  }

  to {
    filter: drop-shadow(0 0 0 crimson);
  }
}

.beat {
  animation: beat 1s ease-in-out;
}
