.nav-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.ul-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.li-style {
  list-style: none;
  padding-top: 20px;
  font-size: 25px;
  transition: all 0 linear;
}

.li-style:hover {
  color: white;
  border-bottom: 1px solid white;
}

.li-style:active {
  a {
    color: white;
    border-bottom: 1px solid black;
  }
}
