.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}

.navbar__list-item {
  list-style: none;
  font-size: 1.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.navbar__list-item:hover {
  color: #ffffff;
  text-decoration: underline;
}

.navbar__list-item:active {
  a {
    color: #ffffff;
    text-decoration: underline;
  }
}
