.container-footer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 61dvh;
}

.footer-style {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
}

.footer-text {
  font-size: 2rem;

  color: rgb(187, 181, 181);
}

.footer-text:hover {
  color: white;
}
