.footer {
  width: 100%;
  text-align: center;
  padding: 3em;
}

.footer__text {
  font-size: 1.5rem;
  color: rgb(187, 181, 181);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.footer__text:hover {
  color: white;
}
