.container-footer {
  position: relative;
  min-height: 100vh;
}

.footer-style {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.footer-text {
  font-size: 0.9rem;

  color: #000;
}

.footer-text:hover {
  color: white;
}
