* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  color: #b3b7ba;
}

:root {
  --breakpoint-mobile: 768px;
  --background-color: #3a3958;
}

#root {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background: var(--background-color);
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

.fade-in {
  view-timeline-name: --timeline-render;
  view-timeline-axis: block;

  animation-timeline: --timeline-render;
  animation-name: show;

  animation-range: entry 80% cover 30%;
  animation-fill-mode: both;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
